.carousel {
    margin: $s-size 0;
    background: rgba($color: #ffffff, $alpha: .6);
    border-radius: $s-size;
};

.w-100 {
    width: 200px !important;
    margin-left: auto;
    margin-right: auto;
};