.contain-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
};

.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, lighten($gray,70%), lighten($gray,40%), lighten($gray,70%));
    margin: $m-size 0;
}