.header {
    background: $white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
};

.header__contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
};

.header__title {
    font-family: $font-headerTitle;
    color: $dark-gray;
    text-decoration: none;
    font-size: $xxxl-font-size;
};

.header__title--link {
    color: $dark-gray;
    text-decoration: none;
    font-size: $l-font-size;
    margin-right: $s-size;
};

.header__title--link:hover {
    color:lighten($dark-gray,30%);
};