.portfolio-item {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $xl-size $l-size;
    background: rgba(255, 255, 255, 0.5);
    margin: $l-size 0 $l-size 0;
    border-radius: $s-size;
    box-shadow: 0 0 20px darken($gray,30%);
    animation-duration: 2s;
    animation-name: slidein;
    transform:scale(1,1);
    transition: all .5s ease;
    @media(min-width:$desktop-breakpoint){
        flex-direction: row;
        align-items: flex-start;
    };
    &:hover {
        transform:scale(1.05,1.05);
        background: $white;
    };
};

@keyframes slidein {
    from {
        margin-top: -10%;
    };
    to {
        margin-top: 0;
    };
};

.portfolio-item__pic {
    position: relative;
    img {
        border: 1px solid $gray;
        border-radius:$s-size ;
        max-width: 100%;
        
    }
    @media(min-width:$desktop-breakpoint){
        img {
            max-width: 300px;
        }
    };
    &:hover {
        opacity: 0.8;
    };
};

.portfolio-item__pic--icon {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
};

.portfolio-item__text {
    margin: 0 0 0 0;
    text-align: justify;
    h1 {
        margin: $s-size 0 $s-size 0;
        font-size: $l-size;
        font-weight: 700;
        color: lighten($dark-gray,10%);
    };
    h3 {
        margin: 0 0 $l-size 0;
        font-size: $l-font-size;
        font-weight: 700;
        color: lighten($dark-gray,30%);
        margin-bottom: $s-size;
    };
    ul {
        margin: 0 0 0 0;
        padding: 0 0 0 $m-size;
        font-size: $m-font-size;
        font-weight: 600;
        color: lighten($dark-gray,10%);
        list-style-type: disc;
    };
    @media(min-width:$desktop-breakpoint){
        flex-direction: row;
        align-items: flex-start;
        height: 40%;
        margin: $xs-size 0 0 $l-size;
        h1 {
            margin: 0 0 $s-size 0;
            font-size: $l-size;
            font-weight: 700;
            color: lighten($dark-gray,10%);
        };
    };
};

.li--none {
    font-weight: 400;
    list-style-type:'-'+' ';
    color: lighten($dark-gray,10%);
    margin: $xs-size 0 $xs-size 0;
};