.resume {
    font-size: $l-font-size;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.5);
    padding: $s-size;
    margin: $s-size 0 $s-size 0;
    a {
        text-decoration: none;
        color:$dark-gray;
    };
};

.resume__link {
    background: $white;
    margin: $s-size $s-size;
    padding: 10px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    &:hover {
        transform:scale(1.01,1.1);
    };
    img {
        margin-right: $s-size;
    };
};

.resume-container {
    width: 100%;
    padding: $s-size 0;
};

.resume-container iframe {
    width: 100%;
    height: 100vh;
};